<% form_tag session_path do -%>
<p>
<% if Tog::Config["system.user.email_as_login"] %>
<label for="login">Email</label>
<% else %>
<label for="login">Login</label>
<% end %>
<br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><%= check_box_tag 'remember_me' %><label for="remember_me"> Remember me</label>
</p>

<p><%= submit_tag 'Sign in' %> | If you've forgotten your password, we can <%= link_to "email it to you", forgot_path %></p>
<% end -%>
