<%=link_to icon_for_profile(match.profile, 'small'), profile_path(match.profile)%> <%= match.profile.full_name %>

<div class="portlet_content">
    <ul>
        <li><%= link_to <%= I18n.t('tog_user.search.user.send_private_message') %>, member_new_message_to_path(match) %></li>
        <li><%= report_abuse_link match %></li>
        <li><%= following_options(match.profile) %></li>
    </ul>
</div>
