<div class="titleB"><%= I18n.t('tog_user.user.signup_title') %></div>
<p>
    <span class="fontsmaller"><%= I18n.t('tog_user.user.already_registered') %> <%= link_to I18n.t('tog_user.user.click_to_login'), login_path %>.</span>  
</p>

<br />
<%= error_messages_for :user %>
<% form_for :user, :url => users_path, :html => {:id => "f_signup", :name => "f_signup" } do |f| -%>
  <fieldset>
    <div class="fields">
      <p>
          <% unless config["plugins.tog_user.email_as_login"] %>
            <label for="login"><%= I18n.t('tog_user.model.login') %></label>
            <%= f.text_field :login, :class => "fieldbox", :size => "40" %>
          <% end %>
      </p>

      <p>
        <label for="email"><%= I18n.t('tog_user.model.email') %></label>
        <%= f.text_field :email, :class => "fieldbox", :size => "40" %>
      </p>

      <p>
        <label for="pass"><%= I18n.t('tog_user.model.password') %></label>
        <%= f.password_field :password, :class => "fieldbox", :size => "40" %>
      </p>

      <p>
        <label for="repass"><%= I18n.t('tog_user.model.password_confirmation') %></label>
        <%= f.password_field :password_confirmation, :class => "fieldbox", :size => "40" %>
      </p>  

       <% if config["plugins.tog_user.captcha_enabled"] %>
          <p>
            <label for="code"><%= I18n.t('tog_user.user.type_two_words') %></label>
            <%= recaptcha_tags(:display =>{:lang => config["plugins.tog_core.language.default"]}) %>
          </p>
       <% end %>
    </div>
  </fieldset>

  <br />
  <div class="actions">
    <%= submit_tag I18n.t('tog_user.user.signup_title'), :class => "button mainaction" %>
  </div>
     
<% end -%>
