<fieldset>
  <legend>Login details</legend>
  <div class="fields">
    <p>
      <label for="user_login">Login</label>
      <%= f.text_field :login, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="user_password">Password</label>
      <%= f.password_field :password, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="user_password_confirmation">Confirm Password</label>
      <%= f.password_field :password_confirmation, :class=>"fieldbox" %>
      <br />
      <span class="helpinfo">If you want to change the user´s password write here the new one.<br />Otherwise, let them unchanged.</span>
    </p>
    <p>
      <label for="user_admin" class="nolabel"><%= f.check_box :admin %> This user is a site admin.</label>
    </p>
  </div>
</fieldset>

<br />
<hr />
<br />

<fieldset>
  <legend>Personal information</legend>
  <div class="fields">
    <p>
      <label for="user_email">Email address:</label>
      <%= f.text_field :email, :class=>"fieldbox" %>
    </p>
    <p>
      <label for="user_state_event">Actual state: <strong class="highlight"><%= @user.current_state %></strong></label>
      Action <%= select_tag "state_event", %{<option value="">None</option>#{options_for_select(@user.next_events_for_current_state.inject({}) {|s, e| s[e]=e; s}, @user.new_record? ? :passive : @user.current_state)}} %>
    </p>
  </div> <!-- /.fields -->
</fieldset>

