<h1><%= link_to I18n.t("tog_user.plugin_title"), admin_users_path%> / <%= @user.login %></h1>

<br />

<%= error_messages_for :user %>
<% form_for :user, :url => admin_user_path(@user), :html => {:id => "edit_user", :method => :put} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />

  <div class="actions">
    <%= submit_tag I18n.t("tog_user.admin.update"), {:accesskey => "s", :class=>"button"} %>
  </div>

<% end -%>