<p><%= link_to "Create New",  new_admin_user_url, {:class => "button add", :title => "Add an user"} %></p>
<table class="tableB">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">State</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="info_results">
      <td colspan="4">
      <%= will_paginate @users %>
      </td>
    </tr>
  </tfoot>
  <tbody>

    <% @users.each do |user| %>

    <tr<%= cycle(' class="pair"','') -%>>
      <td><strong><%= link_to user.login, edit_admin_user_url(user), {:title => "Edit user"} -%></strong></td>
      <td><%= mail_to user.email, user.email, {:title => "Email this user"} -%></td>
      <td><%= user.state -%></td>
      <td><%= user.created_at -%></td>
    </tr>

    <% end %>
    
  </tbody>
</table>