<h1><%= link_to I18n.t("tog_user.plugin_title"), admin_users_path%> / <%= I18n.t("tog_user.admin.create_account") %></h1>

<br />

<%= error_messages_for :user %>
<% form_for :user, :url => admin_users_path,  :html => {:id => "settings"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <br />

  <div class="actions">
    <%= submit_tag I18n.t("tog_user.admin.create"), {:accesskey => "s", :class=>"button"} %>
  </div>

<% end -%>
