<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Tog: Community Platform</title>
    
    <link rel="icon" href="/images/favicon.ico" />
    
    <link href="/tog_core/stylesheets/template.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="/tog_core/stylesheets/style.css"    rel="stylesheet" media="screen" type="text/css" />
    <link href="/tog_core/stylesheets/pages.css"    rel="stylesheet" media="screen" type="text/css" />

    <!--[if lt IE 7.]>
    <link rel="stylesheet" type="text/css" media="screen" href="/tog_core/stylesheets/ie6.css" />
    <![endif]--> 

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" media="screen" href="/tog_core/stylesheets/ie7.css" />
    <![endif]-->

    <script type="text/javascript">
    // <![CDATA[
        if(navigator.userAgent.indexOf('Mac') != -1) document.write ('<link rel="stylesheet" type="text/css" media="screen" href="/tog_core/stylesheets/mac.css" />');    
    // ]]>	
    </script>

    <%= inject_autodiscovery %>
    <%= inject_js %>
    <%= inject_css %>
    
  </head>
  
  <body>
      <p><%= flash[:notice] %></p>
      
      <div id="container_forms">
         <%= yield %>
      </div>
      
      <  %= google_analytics_code %>
  </body>
</html>